/* This was added to keep everything the same from browser to browser, got it from the reading*/
{
  box-sizing: border-box;
}

body { 
  background-color: #a8b5cc ;
}

header, footer {
  background-color: #3129a8;  
  text-align: center;
  color: white;
  font-family: cursive;
  width: 100%;
}

h2{
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  font-family: sans-serif;
  font-size: 15px;
}

main > article > p {
  text-align: left;
}

header {
  height: 130px;
  margin-bottom: 5px;
  padding: 1px;
}

.container {
  max-width: 900px; 
  margin: auto; 
}

.image {
  border-radius: 10px;
  display: block;
  margin: auto;
  
}

/* I'm not sure why "hr" is not turning the lines black*/
hr {
  color: black;
}

a:link {
  color: blue;
}
a:visited {
  color: red
}
a:hover {
  color: green;
}
a:active {
  color: pink;
}